In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [2]:
for n in even:
    print(n, end = " ") # adding end = " " to display in single row

0 2 4 6 8 10 12 14 16 18 20

While Loops

In [3]:
'''x = 0
while x <= 20:
    print(x,end = " ") 
    '''

'x = 0\nwhile x <= 20:\n    print(x,end = " ") \n    '

In [4]:
x = 0
while x <= 20:
    print(x,end = " ")
    x = x + 2 #incrementing

0 2 4 6 8 10 12 14 16 18 20

In [5]:
x = 0
while x <= 20:
    print(x,end = " ")
    x += 2 #incrementing

0 2 4 6 8 10 12 14 16 18 20

List with range function

In [6]:
'''
range(start, stop, step)

start = first number in list default 0
stop = the last value + 1 
step = distance between two consecutive values
'''
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
for n in range(10):
    print(2**n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [9]:
for x in range(20):
    if x % 2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [10]:
x = [0,1,2]
for item in x:
    print(item, end = " ")

0 1 2

In [11]:
for item in range((len(x))):  # need to include range) because it converts to int
    print(x[item], end = " ")

0 1 2

In [12]:
def count_numbers_below_20(numbers):
    total = 0
    for x in numbers:
        if x<20:
            total += 1
    return total

In [13]:
list_1 = [1,3,7,15,23,43,56,98]
count_numbers_below_20(list_1)

4

In [16]:
prices = {
    "bos of spaghetti" : 4,
    "lasagna" : 5, 
    "hamburger" : 2
}

quantity = {
    "bos of spaghetti" : 6,
    "lasagna" : 10, 
    "hamburger" : 0
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])

print(money_spent)

74