In [2]:
x = (40,41,42)
x

(40, 41, 42)

Tuple are default data stored in python

In [3]:
y = 51,51,52
y

(51, 51, 52)

^ We can say above. Values are packed into tuples

In [4]:
a, b, c = 1, 4, 6

^ we called this tuple assignment

In [5]:
x[0]

40

In [7]:
List_1 = [x,y]
List_1

[(40, 41, 42), (51, 51, 52)]

In [10]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

Functions can provide tuples as return value since function can return 1 values

In [11]:
def square_info(x):
    A = x**2
    P = 4 * x
    print("Area and Perimeter:")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)